body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

table {
    border-spacing: 1rem 0;
}

th {
    text-align: left;
}

form {
    margin: 1rem 0;
}