html, body {
    height: 100vh;
    margin: 0;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

a, a:visited, a:active {
    color: lightgrey;
}

th {
    text-align: left;
}

ul {
    padding-inline-start: 0rem;
    margin: 0;
}

ul.courses {
    list-style: none;
}

li {
    margin: 1rem 0;
}

form {
    margin: 1rem 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #000;
    display: flex;
    height: 15vh;
    align-items: center;
}

nav {
    width: 100%;;
    font-size: 3vmax;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

nav ul li a, nav a:visited, nav a:active {
    text-decoration: none;
    color: lightgrey;
}

nav li.active a{
    color: #fff;
    font-weight: bold;
}

main {
    padding-top: 15vh;
}

table {
    width: 100%;
}

th:not(:first-child), td:not(:first-child) {
    padding-left: 2rem
}

table#device-status td {
    min-width: 5rem;
}

tr.disabled {
    text-decoration: line-through;
}

td button {
    width: 100%;
}

button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 1vmax 2vmax;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vmax;
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
    max-width: 20vw;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 1vmax 4vmax;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vmax;
    cursor: pointer;
    border-radius: 4px;
    /* width: 50%; */
    /* max-width: 50vw; */
}
  
.green {background-color: #4CAF50;} /* Green */
.blue {background-color: #008CBA;} /* Blue */
.red {background-color: #fc2323;} /* Red */
.grey {background-color: #e7e7e7; color: black;} /* Gray */
.black {background-color: #555555;} /* Black */

.enable {background-color: #3e7140;}
.disable {background-color: #949494;} */

.hidden {
    display: none;
}

.overflow-scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.log {
    width: 100%;
    font-size: 3vh;
    max-width: 80vw;
}

.margin-h {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

label {
    width: 100%;
    margin: 2rem 0 0.5rem;
    display: block;
    /* max-width: 20rem; */
    font-weight: bold;
}

select {
    width: 100%;
    max-width: 20rem;
    font-size: 2.5vmax;
}

form.test button {
    margin-top: 1rem;
    width: 100%;
}

section {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

section.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section > div {
    flex: 1;
    padding: 2rem
}

section {
    font-size: 4vh;
}

.status-big img {
    max-height: 30vh;
}

section .gong {
    text-align: center;
}

#gong-countdown {
    display: block;
}

#gong-playing {
    display: none;
}

#gong-playing h1 {
    font-size: 14vh;
    color: #fff;
    margin-bottom: 8vh;
}

#gong-playing h2 {
    font-size: 4vh;
}

#gong-playing h3 {
    font-size: 6vh;
}

.main div.status {
    /* height: 100%; */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main div.status .overall {
    flex: 2;
}

.main div.status .time {
    flex: 1;
    align-items: end;
}

.main .top {
    flex: 1;
}

.main .bottom {
    flex: 1;
}

.gong h1, .status h1 {
    font-size: 4vh;
    color: lightgray
}

.gong h2.time {
    font-size: 16vh;
    margin: 3vh;
}

.gong h3 {
    margin-top: 1vh;
}

section h1 {
    margin-top: 0;
}

.time h2 {
    font-size: 3vh;
    margin-bottom: 0;
    color: lightgray;
}

.time h3 {
    font-size: 5vh;
    margin: 0;
}

dl {
    margin-bottom: 0;
}

dl dd {
    font-size: 5vh;
    font-weight: bold;
    margin-inline-start: 0;
}

dt {
    color: lightgray;
    font-size: 3vh;
    margin-top: 1rem;
}

div.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
}

div.columns.test {
    gap: 2rem;
}

.test select {
    max-width: 90%;
}

div.columns > div, div.columns > dl {
    flex: 1;
}

img.status {
    max-height: 2vmax;
}

.login {
    display: flex;
    height: 100vh;
    width: 90vw;
    padding: 0 5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login h1 {
    font-size: 7vh;
    margin-bottom: 2vh;
}

.login label {
    font-size: 4vh;
    margin: 0 0 3vh;
}

.login input {
    font-size: 4vh;
    padding: 1vh;
    margin-bottom: 2vh;
    width: 100%;
    box-sizing: border-box;
}

.login button {
    font-size: 4vh;
    width: 100%;
    max-width: unset;
}

.login .error {
    color: rgb(160, 0, 0);
    font-size: 5vh;
}


@media (orientation: portrait) {
    header {
        height: 10vh;
    }

    main {
        padding-top: 10vh;
    }

    nav {
        font-size: 2vmax;
    }

    section {
        font-size: 2vh;
    }

    button {
        max-width: 50vw;
    }

    .play-locally button {
        max-width: 48%;
    }
    
    form.test select {
        max-width: unset;
    }

    section > div {
        padding: 1rem;
    }

    section.main {
        flex-direction: column;
    }

    div.columns {
        flex-direction: column;
    }

    .gong h2.time {
        font-size: 8vh;
    }

    .time h2 {
        font-size: 2vh;
    }

    .time h3 {
        font-size: 3vh;
    }

    .status-big img {
        max-height: 20vh;
    }

    .log {
        font-size: 2vh;
    }

    dt {
        font-size: 2vh;
    }

    dl dd {
        font-size: 3vh;
    }
}