version: "2"
volumes:
    mqtt-config-dir:
    data:
services:
  mqtt-config:
    build:
      context: ./mqtt-config
    volumes:
      - 'mqtt-config-dir:/mosquitto/config'
    restart: "no"
  mqtt:
    image: eclipse-mosquitto:2.0
    volumes:
      - 'mqtt-config-dir:/mosquitto/config'
    ports:
      - 1883:1883
      - 9001:9001
    # depends_on:
    #   - mqtt-config
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
      # #target: development # For local push
      # target: production # For deployment
    labels:
      io.balena.features.dbus: '1'
      io.balena.features.balena-api: '1'
    volumes:
      - 'data:/data'
    ports:
      - 80:8080

