<h2>Automation</h2>

{% if automation.enabled %}
<h3>Automation: enabled</h3>
<form action="/automation/disable" method="post">
    <button type="submit" class="red">Disable</button>
</form>

<h3>Next gong</h3>
<p>{% if automation.getNextGong() %}{{ automation.getNextGong().time.toFormat('yyyy-MM-dd HH:mm') }} in <span class="nextGongDiff">-</span>{% else %}No gong scheduled{% endif %}</p>

<script>
    function updateDiff() {
        let nextGongDiff = formatTimeTillNextGong('{{ automation.getNextGong().time }}');
        var elements = document.querySelectorAll('.nextGongDiff');
        for (let element of elements) {
            element.textContent = nextGongDiff;
        }
    }

    setInterval(updateDiff, 1000)
</script>

<h3>Schedule</h3>
<div class="overflow-scroll">
<form method="post">
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Location</th>
        <th>Course</th>
        <th>Status</th>
    </tr>
</thead>
{% for entry in automation.getSchedule() %}
<tr class="{% if not entry.active %}disabled{% endif %}">
    <td>{{ entry.time.toFormat('yyyy-MM-dd HH:mm') }}</td>
    <td>{{ entry.type }}</td>
    <td>{{ entry.location }}</td>
    <td>{{ entry.getCourse() }}</td>
    <td>
        {% if entry.active %}
        <button name="entry_id" value="{{entry.time}}" formaction="/automation/entry/disable" type="submit" class="red">Disable</button>
        {% else %}
        <button name="entry_id" value="{{entry.time}}" formaction="/automation/entry/enable" type="submit" class="blue">Enable</button>
        {% endif %}
    <td>
</tr>
{% else %}
<tr>
    <td>Schedule not available</td>
</tr>
{% endfor %}
</table>
</form>
</div>

<h3>Courses</h3>
<ul>
{% for course in automation.getCourses() %}
    <li>{{ course.start.toISODate() }} - {{ course.end.toISODate() }} {{ course.type }}</li>
{% endfor%}
</ul>

{% else %}
<h3>Automation: disabled</h3>

<form action="/automation/enable" method="post">
    <button type="submit" class="green">Enable</button>
</form>
{% endif %}