{% extends 'base.njk' %}

{% set title = 'Gong - Schedule' %}

{% block content %}

<section>
    <div>

<h1>Gong Schedule</h1>

<p>Gong schedule for today and tomorrow. Press <strong>Disable</strong> to skip that specific time.</p>

{% if automation.enabled %}
<div class="overflow-scroll">
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Location</th>
        <th>Course</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
{% for entry in automation.getSchedule() %}
<tr class="{% if not entry.active %}disabled{% endif %}">
    <td>{{ entry.time.toFormat('yyyy-MM-dd HH:mm') }}</td>
    <td>{{ entry.type }}</td>
    <td>{{ entry.locations }}</td>
    <td>{{ entry.getCourse() }}</td>
    <td>
        {% if entry.active %}
        <button name="entry_id" value="{{entry.time}}" formaction="/automation/entry/disable" type="submit" class="disable">Disable</button>
        {% else %}
        <button name="entry_id" value="{{entry.time}}" formaction="/automation/entry/enable" type="submit" class="enable">Enable</button>
        {% endif %}
    <td>
</tr>
{% else %}
<tr>
    <td>Schedule not available</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<p>Full available gong schedule for currently fetched courses.</p>

<a href="/automation/schedule" class="button">Show full gong schedule</a>

<h3>Courses</h3>
<p>Current and upcoming courses.</p>

<div class="overflow-scroll">
<form method="post">
<table>
<thead>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Type</th>
    </tr>
</thead>
<tbody>
{% for course in automation.getCourses() %}
    <tr>
        <td>{{ course.start.toISODate() }}</td>
        <td>{{ course.end.toISODate() }}</td>
        <td>{{ course.type }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</form>
</div>

{% else %}
<h3>Automation: disabled</h3>
{% endif %}
</div>
</section>
{% endblock %}