{% extends 'base.njk' %}

{% set title = 'Gong - Devices' %}
{% set active_page = "devices" %}

{% block content %}

<section>
    <div>
<h1>Devices</h1>
<p>Devices required to be active for full system function.</p>
<div class="overflow-scroll">
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Location</th>
        <th>Status</th>
        <th>State</th>
        <th>Last&nbsp;seen</th>
    </tr>
</thead>
<tbody>
    {% for device in devices %}
    <tr>
        <td>{{ device.name }}</td>
        <td>{{ device.type or '-'  }}</td>
        <td>{{ device.locations or '-'  }}</td>
        <td>{{ device.status|statusToImg|safe or '-'  }}</td>
        <td>{{ device.state or '-'  }}</td>
        <td>{% if device.timestamp %}{{ device.timestamp.toFormat('yyyy-MM-dd HH:mm:ss') }}{% else %}-{% endif %}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>

{% if unknown_devices.length > 0 %}
<h2>Unknown Devices</h2>
<p>Devices not registered with the server. Check the spelling of the devices name and if they should be added to the DEVICES configuration.</p>
<div class="overflow-scroll">
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Location</th>
        <th>State</th>
        <th>Last&nbsp;seen</th>
    </tr>
</thead>
<tbody>
    {% for device in unknown_devices %}
    <tr>
        <td>{{ device.name }}</td>
        <td>{{ device.type or '-'  }}</td>
        <td>{{ device.locations or '-'  }}</td>
        <td>{{ device.state or '-'  }}</td>
        <td>{% if device.timestamp %}{{ device.timestamp.toFormat('yyyy-MM-dd HH:mm:ss') }}{% else %}-{% endif %}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endif %}

<form action="/ping" method="post">
    <button type="submit" class="blue">Refresh</button>
</form>
</div>
</section>
{% endblock %}