<h2>Devices</h2>
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Location</th>
        <th>Status</th>
        <th>Last seen</th>
    </tr>
</thead>
<tbody>
    {% for device in devices %}
    <tr>
        <td>{{ device.name }}</td>
        <td>{{ device.type or '-'  }}</td>
        <td>{{ device.zones or '-'  }}</td>
        <td>{{ device.status or '-'  }}</td>
        <td>{% if device.timestamp %}{{ device.timestamp | date }}{% else %}-{% endif %}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
<form action="/ping" method="post">
    <button type="submit">Refresh</button>
</form>