{% extends 'base.njk' %}

{% set title = 'Gong' %}

{% block content %}
  <h1>Gong</h1>
  <h2>System status</h2>
  <table id="device-status">
    <tbody>
      <tr>
        <th>Overall status</th>
        <td>
          {% if device_status.failed %}🔴 {{ device_status.failed }} device(s) offline
          {% elif device_status.warning %}🟡 {{ device_status.warning }} device(s) possibly offline
          {% else %}
          🟢 all devices online
          {% endif %}
          </td>
      </tr>
      <tr>
        <th>System</th>
        <td>{% if enabled %}🟢 ON{% else %}🔴 OFF{% endif %}</td>
      </tr>
      <tr>
        <th>Automation</th>
        <td>{% if automation.enabled %}🟢 ON{% else %}🔴 OFF{% endif %}</td>
      </tr>
      {% if enabled and automation.enabled %}
      <tr>
        <th>Last fetch</th>
        <td>{% if automation.lastFetch %}🟢 {{ automation.lastFetch.toFormat('yyyy-MM-dd HH:mm') }}{% else %}🔴 not fetched{% endif %}</th>
      </tr>
      <tr>
        <th>Next gong</th>
        <td>{{ automation.getNextGong().time.toFormat('yyyy-MM-dd HH:mm') }} in <span class="nextGongDiff">-</span></td>
      </tr>
      {% endif %}
      <tr>
        <th>Devices</th>
        <td>{{ device_status.ok }} online, {{ device_status.warning }} warning, {{ device_status.failed }} offline</td>
      </tr>
      <tr>
        <th>Playing</th>
        <td>{{ playing }}</td>
      </tr>
    </tbody>
  </table>
  {% if enabled %}
  <form action="/enable" method="post">
    <button type="submit" class="red">Disable</button>
  </form>
  {% else %}
  <form action="/enable" method="post">
    <button type="submit" class="green">Enable</button>
  </form>
  {% endif %}
  <hr>
  {% if enabled %}
  {% include 'automation.njk' %}
  <hr>
  {% endif %}
  {% include 'devices.njk' %}
  <hr>
  {% include 'log.njk' %}
  {# {% include 'debug.njk'%} #}
{% endblock %}