{% extends 'base.njk' %}

{% set title = 'Gong' %}

{% block content %}
  <h1>Gong</h1>

  <h2>System status</h2>
  <table id="device-status">
    <tbody>
      <tr>
        <th>Overall status</th>
        <td>
          {% if device_status.failed %}🔴 {{ device_status.failed }} device(s) offline
          {% elif device_status.warning %}🟡 {{ device_status.warning }} device(s) possibly offline
          {% else %}
          🟢 All devices online
          {% endif %}
          </td>
      </tr>
      <tr>
        <th>System</th>
        <td>{% if enabled %}🟢 ON{% else %}🔴 OFF{% endif %}</td>
      </tr>
      <tr>
        <th>MQTT</th>
        <td>{% if mqtt_connected %}🟢 Connected{% else %}🔴 Disconnected{% endif %}</td>
      </tr>
      <tr>
        <th>System time</th>
        <td><span id="systemTime">-</span></td>
      </tr>
      <tr>
        <th>Automation</th>
        <td>{% if automation.enabled %}🟢 ON{% else %}🔴 OFF{% endif %}</td>
      </tr>
      {% if enabled and automation.enabled %}
      <tr>
        <th>Last fetch</th>
        <td>{% if automation.lastFetch %}🟢 {{ automation.lastFetch.toFormat('yyyy-MM-dd HH:mm') }}{% else %}🔴 not fetched{% endif %}</th>
      </tr>
      <tr>
        <th>Next gong</th>
        <td>{% if automation.getNextGong() %}{{ automation.getNextGong().time.toFormat('yyyy-MM-dd HH:mm') }} in <span class="nextGongDiff">-</span>{% else %}🔴 no gong scheduled{% endif %}</td>
      </tr>
      {% endif %}
      <tr>
        <th>Devices</th>
        <td>{{ device_status.ok }} online, {{ device_status.warning }} warning, {{ device_status.failed }} offline, {{ device_status.disabled }} disabled</td>
      </tr>
      <tr>
        <th>Playing</th>
        <td>{{ playing }}</td>
      </tr>
    </tbody>
  </table>
  <script>
      let systemTime = "{{ system_time }}";
      function updateSystemTime() {
          systemTime = tickSystemTime(systemTime)
          var elements = document.getElementById('systemTime').textContent = systemTime.toFormat('yyyy-MM-dd HH:mm:ss');
      }

      setInterval(updateSystemTime, 1000)
  </script>
  {% if enabled %}
  <form action="/enable" method="post">
    <button type="submit" class="red">Disable</button>
  </form>
  {% else %}
  <form action="/enable" method="post">
    <button type="submit" class="green">Enable</button>
  </form>
  {% endif %}
  <hr>
  {% if enabled %}
  {% include 'automation.njk' %}
  <hr>
  {% endif %}
  {% include 'devices.njk' %}
  <hr>
  {% include 'log.njk' %}
  <hr>
  {% include 'test.njk' %}
{% endblock %}