{% extends 'base.njk' %}

{% set title = 'Gong' %}

{% block content %}
  <section class="main">
    <div class="gong">
      {% if enabled and automation.enabled %}
      <h1>Next Gong</h1>
      {% if automation.getNextGong() %}
      <h2 class="time">{{  automation.getNextGong().time.toFormat('HH:mm') }}</h2>
      <h3>in <span class="nextGongDiff">-</span></h3>

      <dl>
        <dt>Locations:</dt>
        <dd>{{ automation.getNextGong().locations.join(', ') }}</dd>
      </dl>

      <div class="columns">
        <dl>
          <dt>Schedule:</dt>
          <dd>{{ automation.getNextGong().courseType }}</dd>
        </dl>
        <dl>
          <dt>Day:</dt>
          <dd>{{ automation.getNextGong().courseDay }}</dd>
        </dl>
      </div>
      
      {% else %}
      <h2>No gong scheduled for today or tomorrow.</h2>
      {% endif %}
      
      {% else %}
        {% if enabled %}
        <h2>Manual Gong</h2>
        <p>Automation is disabled. Play gong by using button.</p>
        {% else %}
        <h2>System disabled</h2>
        <p>System is disabled. No gong will be played.</p>
        {% endif %}
      {% endif %}
    </div>
    <div class="status">
      <div class="overall">
        <h1>Status</h1>
        <div class="status-big">
          {% if status.overall === '🟢' %}
          <img src="/images/ok.png" alt="OK" />
          {% elif status.overall === '🟡'%}
          <img src="/images/warning.png" alt="Warning" />
          {% else %}
          <img src="/images/error.png" alt="Error" />
          {% endif %}
          </div>
        {% if status.overall !== '🟢' %}
        <pre>{{ status.reason }}</pre>
        {% endif %}
      </div>
      <div class="time">
        <h2>System time:</h2>
        <h3><span id="systemTime">-</span></h3>
      </div>
    </div>
  </section>
  
  <script>
      let systemTime = "{{ system_time }}";

      function updateSystemTime() {
          systemTime = tickSystemTime(systemTime)
          var elements = document.getElementById('systemTime').textContent = systemTime.toFormat('yyyy-MM-dd HH:mm:ss');
      }

      function updateDiff() {
          let nextGongDiff = formatTimeTillNextGong('{{ automation.getNextGong().time }}');
          var elements = document.querySelectorAll('.nextGongDiff');
          for (let element of elements) {
              element.textContent = nextGongDiff;
          }
      }

      function updateUi() {
        updateSystemTime()
        updateDiff()
      }

      setInterval(updateUi, 1000)
  </script>
{% endblock %}