<h2>Log</h2>
<p>Showing last entries, newest to oldest</p>
<div class="overflow-scroll">
<ul class="log">
{% for entry in log.reverse() %}
    <li>{{ entry }}</li>
{% else %}
    <li>No log entries yet</li>
{% endfor %}
</ul>
</div>