{% extends 'base.njk' %}

{% set title = 'Gong - Settings' %}
{% set active_page = "settings" %}

{% block content %}
  <section class="main">
    <div class="settings">
      <h1>Settings</h1>

      <div class="columns">
        <div>
      {% if enabled %}
      <h3>System is enabled {{ true|booleanToImg|safe }}</h3>
      {% if automation.enabled %}
      <p>Gong can be played with button or automatically.</p>
      {% else %}
      <p>Automation is disabled. Play gong by using button.</p>
      {% endif %}
      
      <form action="/enable" method="post">
        <button type="submit" class="disable">Disable</button>
      </form>
      {% else %}
      <h3>System i disabled {{ false|booleanToImg|safe }}</h3>
      <p>System is disabled. No gong will be played.</p>
      <form action="/enable" method="post">
        <button type="submit" class="enable">Enable</button>
      </form>
      {% endif %}
      </div>
      <div>

      {% if enabled %}
      {% if automation.enabled %}
      <h3>Automation is enabled {{ true|booleanToImg|safe }}</h3>
      <p>Gong will be played automatically according to schedule.</p>
      
      <form action="/automation/disable" method="post">
          <button type="submit" class="disable">Disable</button>
      </form>
      {% else %}
      <h3>Automation is disabled {{ false|booleanToImg|safe }}</h3>
      <p>Gong will not be automated.</p>

      <form action="/automation/enable" method="post">
          <button type="submit" class="enable">Enable</button>
      </form>
      {% endif %}
      {% endif %}

      </div>
      </div>

      <hr>
      {% include 'play-locally.njk' %}

      <hr>
      {% include 'test.njk' %}
    </div> 
  </section>
{% endblock %}