{% extends 'base.njk' %}

{% set title = 'Gong - Settings' %}
{% set active_page = "settings" %}

{% block content %}
  <section class="main">
    <div class="settings">
      <h1>System Settings</h1>

      <div class="columns">
        <div>
      {% if enabled %}
      <h3>System is enabled {{ true|booleanToImg|safe }}</h3>
      {% if automation.enabled %}
      <p>Gong can be played with button or automatically.</p>
      {% else %}
      <p>Automation is disabled. Play gong by using button.</p>
      {% endif %}
      
      <form action="/enable" method="post">
        <button type="submit" class="disable">Disable</button>
      </form>
      {% else %}
      <h3>System i disabled {{ false|booleanToImg|safe }}</h3>
      <p>System is disabled. No gong will be played.</p>
      <form action="/enable" method="post">
        <button type="submit" class="enable">Enable</button>
      </form>
      {% endif %}
      </div>
      <div>

      {% if enabled %}
      {% if automation.enabled %}
      <h3>Automation is enabled {{ true|booleanToImg|safe }}</h3>
      <p>Gong will be played automatically according to schedule.</p>
      
      <form action="/automation/disable" method="post">
          <button type="submit" class="disable">Disable</button>
      </form>
      {% else %}
      <h3>Automation is disabled {{ false|booleanToImg|safe }}</h3>
      <p>Gong will not be automated.</p>

      <form action="/automation/enable" method="post">
          <button type="submit" class="enable">Enable</button>
      </form>
      {% endif %}
      {% endif %}

      </div>
      <div>
          <h3>Gong type: {{ gong_type.name }}</h3>

          <form action="/settings/gong-type" method="post">
            <label for="gong-type">New gong type:</label>
            <select id="gong-type" name="gong-type">
              {% for type in getGongTypes() %}
              <option value="{{ type.name }}" {% if type.name == gong_type.name %}selected{% endif %}>{{ type.name }}</option>
              {% endfor %}
            </select>
            <br>
            <audio id="gong-type-preview-audio" src="/{{ gong_type.file_name }}"></audio>
            <button type="submit" class="margin-h">Change</button>
            <button type="button" class="margin-h blue" id="gong-type-preview">Preview</button>
          </form>
        </div>
        <div>
          <h3>Gong repeat: {{ gong_repeat }}</h3>

          <form action="/settings/gong-repeat" method="post">
            <label for="gong-repeat">New gong repeat:</label>
            <select id="gong-repeat" name="gong-repeat">
              {% for repeat in range(2, 9) %}
              <option value="{{ repeat }}" {% if repeat == gong_repeat %}selected{% endif %}>{{ repeat }}</option>
              {% endfor %}
            </select>
            <br>
            <button type="submit" class="margin-h">Change</button>
          </form>
        </div>
      </div>

      <hr>
      {% include 'play-locally.njk' %}

      <hr>
      {% include 'test.njk' %}
    </div> 
  </section>

  <script>
    const gong_types = {{ getGongTypes() | dump | safe }};

    let gong_type_audio = document.getElementById('gong-type-preview-audio');

    document.getElementById('gong-type-preview').addEventListener('click', function() {
      if (!gong_type_audio.paused || gong_type_audio.currentTime) {
        gong_type_audio.pause();
        gong_type_audio.currentTime = 0;
        return;
      }
      const type = document.getElementById('gong-type').value;

      console.log("Playing gong type preview: " + type);

      let gong_type = gong_types.find(t => t.name === type);

      gong_type_audio.src = `/${gong_type.file_name}`;
      gong_type_audio.load();
      gong_type_audio.play();
    });
  </script>
{% endblock %}