<h2>Test</h2>
<p>Functions for testing devices during installation.

<h3>Stop</h3>
<p>Send stop signal to all devices.</p>

<form action="/test/stop" method="post">
    <button type="submit" class="red">STOP ALL</button>
</form>

<div class="columns test">
    <div>

<h3>Player</h3>

<p>Repeatedly play a sound on the selected device until the <strong>STOP ALL</strong> button is pressed.</p>

<form action="/test/device/play" method="post" class="test">
    <label for="device">Device</label>
    <select id="device" name="device" value="-1">
        <option value="none">--</option>
        {% for device in devices %}
        {% if device.type == "player" %}
        <option value="{{device.name}}">{{device.name}}</option>
        {% endif %}
        {% endfor %}
    </select>

    <br>

    <label for="type">Type</label>
    <select id="type" name="type">
        <option value="gong">Gong</option>
        <option value="beep">Beep</option>
        <option value="silence">Silence</option>
    </select>

    <br>
    <button type="submit" class="blue">Play</button>
</form>

</div>
<div>

<h3>Remote</h3>

<p>Light the LED of the device until the <strong>STOP ALL</strong> button is pressed.</p>

<form action="/test/device/play" method="post" class="test">
    <input type="hidden" name="type" value="silence"/>

    <label for="device">Device</label>
    <select id="device" name="device">
        <option value="none">--</option>
        {% for device in devices %}
        {% if device.type == "remote" %}
        <option value="{{device.name}}">{{device.name}}</option>
        {% endif %}
        {% endfor %}
    </select>

    <br>

    <button type="submit" class="blue">LED ON</button>
</form>

</div>
</div>